@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.card {
  background: none;
  border: none;
  box-shadow: none;
}

.video-item {
  border: none;
  background: #1c1c1c;
  border-radius: 0.25rem;

  .card-title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .card-category {
    font-size: 12px;
    color: #00dc3a;
    cursor: pointer;
  }
  .card-text {
    color: #fff;
  }
}

:host {
  display: contents;
}

.mt-10 {
  margin-top: 10px !important;
}
