<div class="login-page black-bg">
  <div class="container pos-rlt d-flex align-items-center">
    <div class="form-holder has-shadow">
      <img
        src="assets/images/WTFu_logo.png"
        width="70%"
        style="position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
  "
        class="d-none d-none d-xs-block d-sm-none d-md-block"
      />
      <br />
      <br />
      <br />
      <div class="row justify-content-md-center">
        <div class="col-12" align="center">
          <div class="d-block d-xs-block d-sm-block  d-md-none">
            <br /><br />
            <img src="assets/images/WTFu_logo.png" width="80%" />
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <!-- Logo & Information Panel-->
        <div class="col-lg-4">
          <div class="d-flex align-items-center">
            <div class="content">
              <div class="logo d-none d-xs-block d-sm-none d-md-block">
                <img
                  src="assets/images/man.png"
                  width="80%"
                  style="margin-left: 70px;"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- Form Panel    -->
        <div class="col-lg-4">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form
                (ngSubmit)="login()"
                [formGroup]="loginForm"
                class="form-validate"
                novalidate
                *ngIf="loginForm"
              >
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="email"
                    autocomplete="off"
                    id="login-username"
                    class="input-material"
                    placeholder="Email"
                    [disableControl]="!(loading$ | async)"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    formControlName="password"
                    required
                    id="login-password"
                    class="input-material"
                    placeholder="Password"
                    [disableControl]="!(loading$ | async)"
                  />
                </div>
                <button
                  class="btn yellow-btn"
                  type="submit"
                  [disabled]="loginForm.invalid || (loading$ | async)"
                  id="login"
                >
                  <ng-container *ngIf="!(loading$ | async)">
                    <span translate>Login</span>
                  </ng-container>
                  <ng-container *ngIf="loading$ | async">
                    <span translate>Loading..</span>
                  </ng-container>
                </button>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form>
              <a [routerLink]="['/forgot']" class="forgot-pass white"
                >Forgot Password?</a
              >
              <br /><br /><small>Do not have an account? </small>
              <br />
              <br />
              <a class="signup yellow-text" [routerLink]="['/register']"
                >Create Free Account</a
              >
            </div>
          </div>
        </div>
        <img
          src="assets/images/tag.png"
          style="transform: rotate(-5deg); 
        /* position: absolute; */
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto; width: 50%;
		margin-top: -120px;"
          class="d-none d-xs-block d-sm-none d-md-block"
        />
      </div>
    </div>
  </div>
</div>
