@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.card {
  background: #1c1c1c;
  border-radius: 0.25rem;
}

.video-item {
  border: none;

  .card-title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .card-category {
    font-size: 12px;
    color: #00dc3a;
    cursor: pointer;
  }
  .card-text {
    color: #fff;
  }
  .card-body {
    height: 97px;
  }
}

:host {
  display: contents;
}

.mt-10 {
  margin-top: 10px !important;
}

.mask {
  width: 100%;
  position: absolute;
  height: 100%;
  cursor: pointer;
}

.s-watch {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.tag-watch {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #293884;
  height: 40px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 2;
}

.external {
  height: 250px;
}
