<!-- Sidebar Navigation end-->
<div class="page-content">
  <!-- Page Header-->
  <div class="page-header no-margin-bottom">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">ChannelFU Account Tiers</h2>
    </div>
  </div>

  <section class="pt-20">
    <div *ngIf="subscription$ | async">
      <ng-container *ngIf="step === 1">
        <div class="page-header payment-header">
          <h1 align="center">Upgrade to ChannelFU Premium Account? <br /></h1>
        </div>
        <div align="center">
          <button
            class="btn btn-primary payment-btn"
            (click)="selectPaymentMethod('patreon')"
            [disabled]="paymentLoading || (loading$ | async)"
          >
            Pay with Credit Card with Patreon</button
          ><br />
          <button
            class="btn btn-primary payment-btn"
            (click)="selectPaymentMethod('other')"
            [disabled]="(loading$ | async) || paymentLoading"
          >
            Pay with GCash, Paymaya or Philippine Bank Transfer
          </button>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="step === 2">
      <div class="page-header payment-header">
        <h1 align="center">
          Choose Your Plan
        </h1>
      </div>
      <div align="center">
        <ng-container
          class="col-md-4"
          *ngFor="let plan of subscription$ | async"
        >
          <button
            class="btn btn-primary payment-btn plans"
            (click)="handleSelectMethod(plan)"
            [disabled]="paymentLoading || (loading$ | async)"
          >
            {{ plan.title }} - Premium Access
            <span>{{ plan.amount }} PHP</span></button
          ><br />
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="step === 3">
      <div class="page-header payment-header">
        <h1 align="center">
          To pay using GCash, Paymaya or BPI
        </h1>
      </div>
      <div
        align="center"
        style="font-size: 30px;
      line-height: 1.2;
      margin-bottom: 30px;color:white"
      >
        <i>
          Please check your email.<br />
          Instructions have been sent<br />
          On how to transfer your payment.<br />
          Thank you!
        </i>
        <br />
        <br />
        <a [routerLink]="['/home']" class="btn yellow-btn">
          Home
        </a>
      </div>
    </ng-container>
    <!-- For Patreon  -->
    <ng-container *ngIf="step === 4">
      <div class="page-header payment-header">
        <h1 align="center">
          To Pay with Credit Card with Patreon:
        </h1>
      </div>
      <div
        align="center"
        style="font-size: 30px;
      line-height: 1.2;
      margin-bottom: 30px;color:white"
      >
        1. Go to
        <a href="https://www.patreon.com/wtfu" target="_blank"
          >www.patreon.com/wtfu</a
        ><br />
        2. Choose between a 45-Day or 100-Day Plan<br />
        3. Message us on our Patreon Account so <br />
        we can activate your access to Channelfu streaming site
      </div>
    </ng-container>

    <div align="center">
      <img src="assets/images/WTFu_logo.png" width="170px" />
    </div>

    <div align="center" *ngIf="loading$ | async" class="payment-loading">
      <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i><br />
      Loading
    </div>
  </section>
</div>
