/* your styles go here */
.pt-20 {
  padding-top: 20px;
}

.pos_rlt {
  position: relative;
}

/* To Blue */
.blue-bg {
  background-color: #0d47a1 !important;
}

.white {
  color: #aaa !important;
  font-weight: bold;
}

.blue {
  color: #0d47a1 !important;
}

.yellow {
  color: #f5ef20 !important;
}
.yellow-btn {
  background: #f5ef20 !important;
  color: black !important;
}

.yellow-text {
  background: #f5ef20 !important;
  color: black !important;
  padding: 0 5px;
}

a:hover > i {
  color: #0d47a1 !important;
}

.btn-primary {
  background-color: #0d47a1 !important;
  border-color: #0d47a1 !important;
}

input.input-material:focus {
  border-color: #0d47a1 !important;
}

.form-control:focus {
  border-color: #0d47a1 !important;
}
