<div class="login-page black-bg">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <img
        src="assets/images/WTFu_logo.png"
        width="70%"
        style="position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
  "
        class="d-none d-none d-xs-block d-sm-none d-md-block"
      />
      <br />
      <br />
      <br />
      <div class="row justify-content-md-center">
        <div class="col-12" align="center">
          <div class="d-block d-xs-block d-sm-block  d-md-none">
            <br /><br />
            <img src="assets/images/WTFu_logo.png" width="80%" />
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <!-- Logo & Information Panel-->
        <div class="col-lg-4">
          <div class="d-flex align-items-center">
            <div class="content">
              <div class="logo d-none d-xs-block d-sm-none d-md-block">
                <img
                  src="assets/images/man.png"
                  width="80%"
                  style="margin-left: 70px;"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- Form Panel    -->
        <div class="col-lg-4 ">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form
                (ngSubmit)="submit()"
                [formGroup]="forgotForm"
                class="form-validate"
                novalidate
                *ngIf="!resetForm && !forgotLoading"
              >
                <div class="form-group">
                  <p>Please type your email.</p>
                  <input
                    type="text"
                    formControlName="email"
                    autocomplete="off"
                    class="input-material"
                    placeholder="Email"
                    [disableControl]="!(loading$ | async)"
                  />
                  <div
                    *ngIf="
                      f.email.invalid && (f.email.dirty || f.email.touched)
                    "
                  >
                    <div *ngIf="f.email.errors" class="required-text">
                      <div *ngIf="f.email.errors.required">
                        Please enter an email address.
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="btn yellow-btn"
                  type="submit"
                  [disabled]="forgotForm.invalid || (loading$ | async)"
                  id="login"
                >
                  <ng-container *ngIf="!(loading$ | async)">
                    <span translate>Submit</span>
                  </ng-container>
                  <ng-container *ngIf="loading$ | async">
                    <span translate>Loading..</span>
                  </ng-container>
                </button>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form>
              <form
                (ngSubmit)="reset()"
                [formGroup]="forgotForm"
                class="form-validate"
                novalidate
                *ngIf="resetForm && !forgotLoading"
              >
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="email"
                    autocomplete="off"
                    class="input-material"
                    placeholder="Email"
                    readonly
                  />
                  <div
                    *ngIf="
                      f.email.invalid && (f.email.dirty || f.email.touched)
                    "
                  >
                    <div *ngIf="f.email.errors" class="required-text">
                      <div *ngIf="f.email.errors.required">
                        Please enter an email address.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group pos_rlt">
                  <input
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                    autocomplete="off"
                    class="input-material"
                    placeholder="password"
                    [disableControl]="!(loading$ | async)"
                  />
                  <mat-icon
                    matSuffix
                    class="pass-toggle"
                    (click)="hide = !hide"
                    >{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon
                  >
                </div>
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="forgotForm.invalid || (loading$ | async)"
                  id="login"
                >
                  <ng-container *ngIf="!(loading$ | async)">
                    <span translate>Submit</span>
                  </ng-container>
                  <ng-container *ngIf="loading$ | async">
                    <span translate>Loading..</span>
                  </ng-container>
                </button>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form>
              <a class="signup white" [routerLink]="['/login']">Go back</a>
            </div>
          </div>
        </div>
        <img
          src="assets/images/tag.png"
          style="transform: rotate(-5deg); 
        /* position: absolute; */
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto; width: 50%;
		margin-top: -120px;"
          class="d-none d-xs-block d-sm-none d-md-block"
        />
      </div>
    </div>
  </div>
</div>
