/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
// @import "~bootstrap/scss/bootstrap";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import "~@fortawesome/fontawesome-free/scss/regular.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Theme customization
@import "theme/theme";

.custom-toast {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.cursor-pointer {
  cursor: pointer;
}

.page-content {
  width: 100% !important;
}

.required-text {
  color: #db5e58;
}
.login-page .form-holder .form form {
  max-width: none;
}

.login-form {
  border: 1px solid #717171;
  background: rgb(2, 16, 73) !important;
  background: linear-gradient(
    180deg,
    rgba(2, 16, 73, 1) 0%,
    rgba(2, 16, 73, 1) 36%,
    rgba(24, 25, 27, 1) 100%
  ) !important;

  .white {
    color: white !important;
  }

  .fLite {
    font-weight: 100;
  }
  input.input-material {
    border-bottom: 1px solid #ffffff;
    color: white !important;
  }

  .create-account-btn {
    background-color: white;
    color: #18191b !important;
    font-weight: bold;
    padding: 0 5px;
    margin-left: 10px;
  }
}

.login-page {
  &.black-bg {
    &::before {
      background: none;
      background-color: black !important;
    }
  }
}
.form-holder {
  overflow: inherit !important;
}
.login-page {
  // // display: contents;
  // background: black !important;
  // &::before{
  //   content: none;
  // }
  .form {
    background-color: transparent !important;
  }
}

.pos-rlt {
  position: relative;
}

.input-material {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: #8a8d93;
    -webkit-box-shadow: 0 0 0px 1000px #fff0 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.ng-invalid:not(form) {
  border-bottom-color: #dc6d7c;
  border-left: 0px !important;
}
